@import "../../variables";

.job-list {
 display: flex;
 flex-direction: column;
 flex-flow: column;
 align-content: center;
}

.filter-list {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: flex-start;
 flex-grow: 1;
 background-color: white;
 padding: 20px 30px;
 position: relative;
 top: -40px;
 border-radius: 6px;
 flex-wrap: wrap;
 min-height: 50px;
 box-shadow: 0 10px 15px rgba(99, 186, 188, 0.25);

 > * {
  margin-right: 20px;
  margin-bottom: 10px;

  > *:first-child {
   margin-right: 10px;
  }

 }

 input {
  padding: 6px 8px;
  margin: 0;
  box-shadow: 0 10px 15px rgba(99, 186, 188, 0.25);
  border-radius: 6px;
  background-color: white;
  border: 1px solid $colorPrimary;
  outline: none;
 }

 input[type=checkbox] {
  margin-right: 10px;
 }

 button {
  color: #fff;
  padding: 10px;
  font-weight: 600;
  border-radius: 6px;
  font-size: 12px;
  background-color: $colorPrimary;
  border: none;
  outline: none;
  cursor: pointer;
 }

 .clear {
  color: #828b8a;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  position: absolute;
  right: 30px;
 }

 .clear:visited,
 .clear:focus,
 .clear:active,
 .clear:hover {
  text-decoration-line: underline;
  color: $colorPrimary;
 }

}

@media (max-width: 375px) {
 .filter-list {
  padding-right: 0;
  padding-left: 10px;

  > * {
   display: flex;
  }

  .clear {
   position: initial;
  }

 }

}